/*----------Layout-----*/

#container{
    margin: auto;
    width: 600px;
    
}

#topbar{
   width: 100%;
   height:220px;
   background-image: url("pics/coffey.jpg");
   background-repeat: no-repeat;
   background-position: bottom;
  
   
}

#menu{
    width: 100%;
    
}

#menu a{
    display: none;

}

#menu ul li a {
    display: inline;
    
}

#content{
    width:100%;
    
}

#maincontent{
    width: 60%;
    float: left;
    padding: 1%;
    border-right: 1px dashed black;
    margin: 1%;
    
    
}

#maincontent img {
    float: left;
    margin: 1%;
}

#subcontent{
    width: 30%;
    float: left;
    padding:1%;
    margin: 1%;
}

#bottomcontent {
    width: 100%;
    clear: both;
    
}
    
    